@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

nav {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #039be5;
    color: white;
    a, .brand-logo, ul a {
        color: white;
    }
    .search-li {
        min-width: 300px;
        height: 64px;
    }
}
div.paw {
    width: 90px;
    height: 87px;
    
    position: absolute;
    background-image: url("../img/paw.svg");
    background-repeat: no-repeat;
    &.paw-1 {
        top: 30vh;
        left: 45px;
        transform: rotate(35deg);
    }
    &.paw-2 {
        top: 11vh;
        right: 30px;
        transform: rotate(340deg);
    }
    &.paw-3 {
        top: 75vh;
        right: 120px;
        transform: rotate(15deg);
    }
}
.content-main {
    position: relative;
    padding-top: 64px;
    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        h1 {
            font-size: 48px;
        }
        .main-img {
            width: 80%;
        }
        p {
            font-size: 24px;
        }
    }
    height: calc(80vh - 64px);
    .special-btn {
        background: none;
        color: #039be5;
        box-shadow: none;
        border: 1px solid #039be5;
        border-radius: 30px;
        padding: 15px;
        height: auto;
        margin-right: 10px;
        &:hover {
            color: white;
            background-color: #039be5;
        }
    }
}
footer.page-footer {
    background-color: #039be5;
}