.gg-container {
  display: flex;
  justify-content: left;
  .gg-icons {
    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: #016595; 
      .gg-facebook::before {
        border-left: 4px solid white;
        border-top: 4px solid white;
      }
      .gg-facebook::after {
        background-color: white;
      }

      .gg-youtube {
        box-shadow: 0 0 0 2px white;
      }

      .gg-youtube::before {
        border-left: 4px solid white;
      }
    }
    .gg-facebook {
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs,1));
      width: 20px;
      height: 20px;
    }
    .gg-facebook::after,
    .gg-facebook::before {
      content: "";
      display: block;
      position: absolute;
      box-sizing: border-box;
      
    }
    .gg-facebook::before {
      width: 8px;
      height: 20px;
      border-left: 4px solid #039be5;
      border-top: 4px solid #039be5;
      border-top-left-radius: 5px;
      left: 6px;
    }
    .gg-facebook::after {
      width: 10px;
      height: 4px;
      background-color: #039be5;
      top: 7px;
      left: 4px;
      transform: skew(-5deg)
    }
  
  
    .gg-youtube {
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs,1));
      width: 16px;
      height: 10px;
      box-shadow: 0 0 0 2px #039be5;
      border-radius:
          15px 15px 15px 15px /
          45px 45px 45px 45px
    }
    .gg-youtube::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 7px;
        top: 2px;
        border-left: 4px solid #039be5;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent
    }
  }
  
}
